/* Menata Menu Navigasi */
nav.menu {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav.menu ul li {
    display: inline-block;
    margin-right: 20px;
}

nav.menu ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

nav.menu ul li a:hover {
    color: #f1f1f1;
    border-bottom: 2px solid #f1f1f1;
}
